body{
  background-color: #eeeeee;
  color: #303841;
}

hr{
  background-color: transparent;
  border-top-style: dotted;
  border-top-width: 10px;
  border-top-color: #ff5722;
  width: 5%;
  height:0%;
}
h1, h3, th {
  color:#00adb5;
}
